<div>
    <header>
        <a href="/dashboard/edit/{{id}}"><h2>{{name}}</h2></a>
        <p>Posted by {{user.name}} on {{format_date date_created}}</p>
    </header>
    <p class="content">{{content}}</p>
</div>